body{
    background-color: #FEFBF3;
}

.navBar{
    background-color: #79B4B7;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
.navBar--section-lista{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.contenidoProyectos{
    display: flex;
    flex-wrap: wrap ;
}

.contenidoProyectos section{
    width: 100%;
    align-content: space-between;
}

.contenidoProyectos-lista{
    width: 100%;
}
.contenidoProyectos-lista_proyecto{
    width: 30%;
    height: 300px;
    background-color: #e7deb2;
    border: solid;
}

